// Custom styles.
body { 
  background:url(/images/background.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:center;
}
.content {
  border-radius: 30px;
  margin-top: 60px;
  padding: 30px 30px 30px 30px;
  background: rgba(255, 255, 255, 0.8) none repeat scroll !important;
}

.header {
  background:rgba(8, 31, 71, 0.9) none repeat scroll !important;
}
.footer {
  background:rgba(8, 31, 71, 0.9) none repeat scroll !important;
}
#sidebar {
  background:url(/images/sidebar.jpg);
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  p,span,a {color: #FFFFFF;}
}
#lv-container {
  border-radius: 10px;
  background:rgba(8, 31, 71, 0.9) none repeat scroll !important;
}